/client/client_env
/client/res_audio/sample_audio.wav

/indic-asr/indic_asr_env
/indic-asr/asr_model/ai4b_indicConformer_kn.nemo
/indic-asr/raw_audio/sample_audio.wav
/indic-asr/raw_audio/metadata.json
/indic-asr/processed_audio/mono_left.wav
/indic-asr/NeMo

/indic-tts/indic_tts_env
/indic-tts/models/v1/kn/fastpitch/best_model.pth
/indic-tts/models/v1/kn/fastpitch/config.json
/indic-tts/models/v1/kn/fastpitch/speakers.pth
/indic-tts/models/v1/kn/hifigan/best_model.pth
/indic-tts/models/v1/kn/hifigan/config.json
/indic-tts/output/ae80b97d-8f88-4738-b123-811a42ba5ad5.wav

/LLM/llm_env
/LLM/.env
